.field {
  border: 1px solid;
  width: 48px;
  text-align: center;
}

.tip {
  display: flex;
  max-width: 800px;
}

.ticket {
  padding: 32px;
}

.bonus-number {
  margin-left: 8px;
  border: 1px solid #f4a953;
  width: 48px;
  text-align: center;
}
